.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-header {
    margin: 24pt 0px;
    font-size: 1.1em;
    &__headline {
      font-size: 4.7em;
      font-weight: 300;
      color: #333;
    }
    &__text {
      margin-top: 10pt;
    }
  }
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 170pt;
  margin: 12pt;
  padding: 12pt;
  background-color: #222;
  border: solid thin #333;
  transition: background-color 140ms ease-in-out, border-color 140ms ease-in-out;
  &:hover {
    background-color: #333;
    border-color: #444;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-button {
      margin: 24px 0px;
      padding: 10px 24pt;
      color: #111;
      background: aqua;
    }
  }
  &__headline {
    margin: 12px 0px;
  }
  &__image {
    max-width: 140pt;
    height: 100px;
    border: solid thin #fff;
  }
}
