<main class="main">
  <header class="main-header">
    <h1 class="main-header__headline">Hello,</h1>
    <h2 class="main-header__text">
      here you'll find an overview of your projects
    </h2>
  </header>
  <p *ngIf="!loading && projects.length == 0">No project found.</p>
  <section *ngIf="!loading && projects.length > 0" class="project-list">
    <article
      *ngFor="let project of projects"
      (click)="onClickProject(project._id)"
      class="project"
    >
      <img [src]="project.imageUrl" class="project__image" />
      <h3 class="project__headline">{{ project.title }}</h3>
    </article>
  </section>
  <a
    routerLink="/new-project"
    routerLinkActive="active"
    class="project-list-button"
    >Create project</a
  >
</main>
