.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-header {
    margin: 24pt 0px;
    font-size: 1.1em;
    &__headline {
      font-size: 4.7em;
      font-weight: 700;
      color: #2c333f;
    }
    &__text {
      margin-top: 10pt;
    }
  }
}
.project {
  cursor: pointer;
  min-width: 200px;
  margin: 12px;
  padding: 12px;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-button {
      margin: 24px 0px;
      padding: 10px 24pt;
      color: #0c131f;
      background: aqua;
    }
  }
  &__headline {
    margin: 12px 0px;
    font-size: 1.4em;
  }
}
