.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-header {
    margin: 24pt 0px;
    font-size: 1.1em;
    &__headline {
      font-size: 1.7em;
      color: #303030;
      &--brand {
        display: inline-block;
        text-transform: uppercase;
        font-size: 2.7em;
        font-weight: 300;
        letter-spacing: 0.3em;
        color: #fff;
        padding-left: 10pt;
      }
    }
  }
  &__link {
    color: aqua;
    text-decoration: underline;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-group {
    margin-bottom: 24px;
  }
  &-control {
    padding: 7px;
    background: #ffffff11;
    border: solid thin #333;
  }
  &-button {
    margin: 12px 0px 24px 0px;
    padding: 10px 24pt;
    color: #111;
    background: aqua;
  }
}
