<div class="signup">
  <div class="signup-header">
    <h1 class="signup-header__headline">Welcome to Agile,</h1>
    <h2 class="signup-header__text">your personal project management tool.</h2>
  </div>
  <form [formGroup]="signupForm" *ngIf="!loading" class="form">
    <div class="form-group">
      <label for="username">
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        />
      </label>
    </div>
    <div class="form-group">
      <label for="email">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </label>
    </div>
    <div class="form-group">
      <label for="password">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </label>
    </div>
    <button
      [disabled]="signupForm.invalid"
      (click)="onSignup()"
      class="form-button"
    >
      Connect
    </button>
    <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
    <p>
      Already have an account?
      <a routerLink="/login" routerLinkActive="active">Click here</a>
    </p>
  </form>
</div>
