<main class="main">
  <section class="project" *ngIf="project">
    <img [src]="project.imageUrl" class="project__image" />
    <h1 class="project__headline">_title :</h1>
    <p class="project__title">{{ project.title }}</p>
    <h2 class="project__headline">_description :</h2>
    <p class="project__description">{{ project.description }}</p>
    <button class="project-button project-button--delete" (click)="onDelete()">
      Delete project
    </button>
  </section>
  <p *ngIf="!project">No project found</p>
</main>
